# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
# package-lock.json - We need this for CI
yarn.lock

# Build files
dist/
build/
*.zip

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store